{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <meta charset="utf-8" />
  <title>物件検索</title>
</head>

<body>
  <header>
    <a href="{% url 'home' %}" class="title">物件検索サイト</a>
    <ul class="login-contents">
      {% if user.is_authenticated %}
      <li><a class="user">{{ user.username }}でログイン中</li></a>
      <li><a href="{% url 'favorite' %}" class="fav">お気に入りへ</a></li>
      <li><a href="{% url 'logout' %}" class="logout">ログアウト</a></li>
      {% else %}
      <li>
        <a href="{% url 'login' %}" class="login">ログイン</a>
      </li>
      {% endif %}
    </ul>
  </header>
  <div class="panel panel-default">
    <div class="panel-heading">検索結果</div>
    <table border="1" class="table table-hover">
      <tr>
        <th></th>
        <th>登録サイト</th>
        <th>物件名</th>
        <th>住所</th>
        <th>家賃</th>
        <th>間取り</th>
        <th>面積</th>
        <th>最寄り駅</th>
        <th>徒歩</th>
        <th>築年数</th>
        <th>相場比較</th>
        <th>お得物件</th>
      </tr>
      {% for item in data%}

      <tr>
        <td><button type="button" class="deleteBtn" id="{{ item.id }}" action="delete/" method="post"><i
              class="fas fa-trash-alt"></i></button>
        <td>
          {{ item.category }}
        </td>
        <td>
          <a href="{{ item.url }}">
            {{ item.name }}
          </a>
        </td>
        <td>
          {{ item.address }}
        </td>
        <td>
          {{ item.rent }}万円
        </td>
        <td>
          {{ item.layout }}
        </td>
        <td>
          {{ item.area }}㎡
        </td>
        <td>
          {{ item.station }}
        </td>
        <td>
          {{ item.timeOnFoot }}分
        </td>
        {% if item.age == 0 %}
        <td>
          新築
        </td>
        {% else %}
        <td>
          {{ item.age }}年
        </td>
        {% endif%}
        {% if item.difference > 0 %}
        <td>+{{ item.difference }}万円
        </td>
        {% else %}
        <td>
          {{ item.difference }}万円
        </td>
        {% endif%}
        {% if item.bargain %}
        <td>

          <i class="fas fa-star"></i>

        </td>
        {% else %}
        <td>

        </td>
        {% endif%}
      </tr>

      {% endfor %}

    </table>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(".deleteBtn").on("click", function () {
    var id = $(this).attr('id')

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrf_token = getCookie("csrftoken");

    $.ajax({
      'url': $(`button#${id}`).attr('action'),
      'type': 'POST',
      'data': {
        'id': id,
      },
      contentType: "application/json",
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      },
      success: function (data) {
        var p = $(`#${id}`).parent().parent()
        p.remove()
      },
      error: function (xhr, status, error) {
        alert(status + "\n" +
          "Status: " + xhr.status + "\n" + error);
      }
    });
    return false;
  });
</script>